@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Indie+Flower&family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap");
* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  background-image: linear-gradient(to right, rgb(255, 94, 0), orange, black);
}

h1,
h2,
h3,
h4,
p,
ul,
li,
img,
a {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  max-width: 1000px;
}

header {
  height: 100vh;
  max-width: 1000px;
}

.UlFlags {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: right;
  gap: 20px;
  margin: 20px 0;
  max-width: 100vw;
}

.Flag {
  height: 25px;
  border-radius: 25%;
}

.UlLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 10px 40px;
}

.ALinks {
  background-color: rgb(73, 72, 72);
  color: white;
  border: orange solid 1px;
  padding: 10px 25px;
  display: inline-block;
  border-radius: 15px;
  width: 150px;
  text-align: center;
}

.ALinks:hover {
  background-color: red;
  border: gray solid 1px;
  transition: 0.2s;
}

.SecTitulo {
  display: flex;
  flex-wrap: wrap;
  display: block;
  justify-items: center;
  margin-top: 100px;
  max-width: 100vw;
}

.SecTitulo h1,
h2 {
  font-size: 2rem;
  text-align: center;
}

.AsideContatos {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.AContatos {
  margin: 0px 25px;
}

.QuemSouEu {
  display: grid;
  height: 100vh;
  justify-items: center;
  background: rgb(255, 132, 0);
}

.QuemSouEu p {
  padding: 5px 40px;
  text-align: center;
}

.QuemSouEu h2 {
  width: 100%;
}

h2 {
  border-top: 4px solid orange;
  max-width: 1000px;
}

.Habilidades {
  background: rgb(255, 132, 0);
  height: 100vh;
}

.GridSkills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.633);
  padding: 60px 0;
  margin-top: 60px;
  margin-bottom: 20px;
  border: 4px solid orange;
}

.DivSoftSkills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 40px;
}

.DivHardSkills img {
  width: 100px;
}

.DivHardSkills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 40px;
  border-left: 4px solid orange;
}

.Portfolio {
  background: rgb(255, 132, 0);
}

.PortfolioGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  justify-items: center;
  text-align: center;
  align-items: center;
}

.Portfolio1x1,
.Portfolio1x2 {
  border-right: 4px solid orange;
}

.Portfolio1x1,
.Portfolio1x2,
.Portfolio2x1,
.Portfolio2x2 {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 25px;
}

.PortfolioGrid {
  height: auto;
}

.GitHubLink {
  background-color: rgb(73, 72, 72);
  color: white;
  border: orange solid 1px;
  padding: 5px 15px;
  border-radius: 15px;
  text-align: center;
  margin: 10px auto;
}

.GitHubLink:hover {
  background-color: red;
  border: gray solid 1px;
  transition: 0.2s;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 20px;
  align-items: top;
}

.TopButton {
  background-image: linear-gradient(
    to right,
    rgb(255, 123, 0),
    rgb(130, 126, 126)
  );
  display: block;
  text-align: right;
  padding-bottom: 15px;
  padding-right: 50px;
  max-width: 100vw;
  font-size: 1.3rem;
}

#Topo {
  border: 2px solid orange;
  background-color: rgb(255, 132, 0);
  border-radius: 50%;
  padding: 10px;
}

#Topo:hover {
  background-color: red;
  border: gray solid 1px;
  transition: 0.2s;
}

@media (max-width: 720px) {
  .DivHardSkills,
  .GridSkills,
  .DivSoftSkills,
  .PortfolioGrid,
  .QuemSouEu {
    grid-template-columns: 1fr;
    max-width: 100vw;
    padding-bottom: 20px;
  }

  .Portfolio1x1,
  .Portfolio1x2,
  .DivHardSkills {
    border-right: none;
  }

  Header {
    height: auto;
  }

  .UlLinks {
    display: block;
    flex-direction: column;
    text-align: center;
  }

  .QuemSouEu p {
    padding: 0px 15px;
  }

  .GridSkills img {
    display: none;
  }

  #HardSkills {
    grid-row: 3;
    margin-top: 40px;
  }

  body {
    background-image: linear-gradient(
      to right,
      rgb(255, 94, 0),
      orange,
      rgb(130, 126, 126)
    );
    max-width: 100vw;
  }

  header {
    max-width: 100vw;
  }

  .PortfolioGrid {
    height: auto;
  }

  .PortfolioGrid img {
    margin-top: 40px;
  }

  .Portfolio {
    background-color: rgba(128, 128, 128, 0.633);
  }

  .TopButton {
    margin-top: 40px;
  }
}
